* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
  }
  
  .gallery {
    display: flex;
    /* This makes the .gallery a flexbox */
    flex-direction: row;
    /* four values for this that arrange the content */
    flex-wrap: wrap;
    /* this allows the content to wrap around to the next row */
    justify-content: center;
    /* this simply aligns the content on the main axis */
    align-items: center;
    /* this aligns the content on the cross axis */
    gap: 16px;
    /* gives each img space from each other */
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    /* this simply means that it is crop-to-fit the 'container' */
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    /* adds an additional content. in this case, an invisible one */
    width: 350px;
    /* width is just the same width for the .gallery img selecter */
  }
  