*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

#main {
  background-color: hsl(0, 0%, 93%);
  margin-block: 15px;
  margin-inline: 10px;
}

header {
  text-align: center;
  background-color: hsl(0, 0%, 93%);
}

header h1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

header p {
  padding-bottom: 0.8rem;
}

img {
  max-width: 100%;
}

#image {
  width: 325px;
  height: auto;
  padding-bottom: 1.2rem;
  display: block;
  margin: auto;
}

#img-div {
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  text-align: center;
}

#img-caption {
text-align: center;
}

#tribute-info {
  background-color: hsl(0, 0%, 93%);
  margin-inline: 6rem;
  padding-inline: 2rem;
  display: block;
}

#tribute-info h2 {
  margin-bottom: 2rem;
  text-align: center;
}

#tribute-info > ul > li {
  padding-bottom: 1.5rem;
}

#quote-div {
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: justify;
  font-style: italic;
}

#author {
  padding-top: 2rem;
}

#more {
  font-size: 20px;
  text-align: center;
}